.donations {
    width: 100%;
    min-height: calc(94vh);
}

.donation-display {
    display: flex;
    justify-content: center;
}

.donation-content {
    margin-top: calc(17vh);
    width: calc(60%);
    display: grid;
    grid-template-columns: calc(33%) calc(33%) calc(33%);
}

.donation-search {
    width: 30%;
    position: absolute;
    top: calc(13vh);
    left: calc(35%);
}

.donation-results {
    position: absolute;
    left: calc(18vw);
    top: calc(19vh);
}

.donation-results h1 {
    font-size: calc(1vw);
}

.clear-results {
    position: absolute;
    left: calc(70vw);
    top: calc(19vh);
    cursor: pointer;
}

.clear-results h1 {
    font-size: calc(1vw);
}

.clear-results:hover {
    text-decoration: underline;
    color: rgb(88, 88, 88);
    cursor: pointer;
}

.loading {
    position: absolute;
    transform: scale(3);
    top: calc(40%);
    left: calc(50%);

}

.no-results {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.637);
    font-size: calc(1.8vw);
}