.petitions {
    width: 100%;
    min-height: calc(94vh);
}

.petition-display {
    display: flex;
    justify-content: center;
}

.petition-content {
    margin-top: calc(17vh);
    width: calc(100%);
    display: grid;
    justify-content: center;
    grid-template-columns: calc(55%);
}

.petition-search {
    width: 30%;
    position: absolute;
    top: calc(13vh);
    left: calc(35%);
}

.petition-results {
    position: absolute;
    left: calc(18vw);
    top: calc(19vh);
}

.petition-results h1 {
    font-size: calc(1vw);
}

.loading {
    position: absolute;
    transform: scale(3);
    top: calc(40%);
    left: calc(50%);

}

.no-results-petition {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.637);
    font-size: calc(1.8vw);
}