.tile {
    background-color: rgb(243, 243, 243);
    border-radius: calc(0.5vw);
    margin: calc(1vw);
    margin-top: calc(0.5vh);
    min-height: calc(40vh);
    box-shadow: 4px 4px 20px rgb(206, 206, 206);
}

.tile img {
    max-width: 100%;
    max-height: calc(18vh);
    border-top-right-radius: calc(0.5vw);
    border-top-left-radius: calc(0.5vw);
}

.tile .title {
    text-align: center;
    font-size: calc(1vw);
    font-weight: 700;  
}

.tile .text {
    width: calc(90%);
    margin-left: calc(1vw);
    font-weight: 500;
    font-size: calc(0.9vw);
}

.tile .raised {
    color: green;
    font-weight: 600;
    font-size: calc(1vw);
}